<!-- /*********************************************************************************
* WEB322 – Assignment 04
* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part
* of this assignment has been copied manually or electronically from any other source
* (including 3rd party web sites) or distributed to other students.
*
* Name: Sue Ming Chun Student ID: 032343154 Date: Monday, November 6, 2018
*
* Online (Heroku) Link: https://radiant-ocean-52723.herokuapp.com/
*
********************************************************************************/
-->

<div class="row">
      <div class="col-md-12">
          <h2>Add Image</h2>
              <br />
              <form method="post" action="/images/add" enctype="multipart/form-data">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="firstName">Image File:</label>
                                  <input class="form-control" id="imageFile" name="imageFile" type="file" />
                              </div>
                          </div>
                      </div>
                  <hr />
                  <input type="submit" class="btn btn-primary pull-right" value="Add Image" /><br /><br /><br />
              </form>
      </div>
</div>
